$color-principle: #141414;
$color-secondary: #e50913;
$color-text-primary: #ffffff;
$color-text-secondary: #7a7a7a;

$light:  $color-principle;
$navbar-light-color: $color-text-primary;
$primary: $color-secondary;

* {
    font-family: 'Rubik', sans-serif;

}

h1,h2,h3,h4,h5,p, label, tr, thead, th, tbody {
    color: $color-text-primary;
}

@import "~bootstrap/scss/bootstrap";


body {
    background-color: $color-principle;
}

.logo-navbar {
    height: 100px;
}

.nav-link {
    font-size: 2.6em;
    margin-right: 1.6em;
}

.form-control{
    background-color: transparent;
    border-color: transparent;
}

.form-text{
    color:black;
}

a {
    text-decoration: none;
}

.form-control{
    background-color: white;
}

.media{
    img{
        height:600px;
        width:auto;
    }
}

.swiper-wrapper{
    .swiper-slide{
       img {
           height:300px;
       }
    }
}

.user-img{
    height:200px;
}